// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/scss/font-awesome.scss";

@import '~admin-lte/dist/css/skins/skin-blue.min.css';

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
	height:auto !important;
}

.p-2-y {
	padding: 20px 0;
}

.alert li, .callout li {
    list-style: none;
}